.expense_manager {
  cursor: pointer;
  border: none;
  background-color: #0f2043;
  color: white;
  padding: 1em;
  border: 2px solid white;
}

.add_expense__container {
  width: 100%;
  padding: 0 1rem;
  border: 1px solid black;
}

.add_expense_form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.add_expense_date_input {
  width: 20%;
}

.add_expense_dropdown_menu {
  width: 20%;
}

.add_expense_value_input {
  width: 10%;
}

.add_expense_comment_input {
  width: 30%;
}
