.categoriesList__container {
  background-color: white;
}

.category__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  grid-area: categories;
}

.categoryList_description {
  grid-area: description;
  color: #0f2043;
  text-shadow: 1px 1px 0.5px black;
}

.category_name {
  color: #0f2043;
  text-shadow: 1px 1px 0.5px black;
  font-weight: 700;
  margin-left: 1em;
  width: auto;
}

.category_color__container {
  width: 40%;
  height: 5vh;
}
