.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 98.9vw;
  padding: 0.8em 0 0.8em 0;
}

.username__container {
  margin-left: 5%;
}
.control__container {
  width: 35%;
  display: flex;
  justify-content: space-around;
  margin-right: 5%;
}

.header_button {
  transition: all 0.5s;
}
.header_button:hover {
  text-decoration: underline;
}
