.single_expense_history__container {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border: 1px solid black;
  font-size: larger;
}

.single_expense_history_date {
  width: 20%;
  font-weight: 700;
}

.single_expense_history_category {
  width: 20%;
}

.single_expense_history_value {
  width: 10%;
}

.single_expense_history_comment {
  width: 30%;
}
